$link_color: #5694F1;
$font_color: #666666;

/* Base */
html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $font_color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: -1px;
  color: #222222;
  font-weight: bold;
  &.archive {
    margin-bottom: 0px;
  }
}

h2 {
  margin-bottom: 10px;
  font-style: bold;
  font-size: 19px;
  line-height: 1em;
  font-family: Georgia, serif;
  color: #BBBBBB;
  &.month {
    width: 100%;

    font-weight: bold;
    font-size: 13px;
    line-height: 1em;

    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
  }
}

h3 {
  margin-bottom: 20px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  margin-bottom: 20px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

h5 {
  margin-bottom: 20px;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  color: $font_color;
  margin-bottom: 6px;
}

nav {
  display: block;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: darken($link_color, 33%);
  }
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
  &.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
  }
}

#title {
  text-decoration: none;
  color: $link_color;
  &:hover {
    text-decoration: none;
    color: $link_color;
  }
}

#post-list {
  li:hover .dates {
    text-decoration: none;
    color: $link_color;
  }
}

p {
  line-height: 1.7em;
  margin-bottom: 10px;

  &.small {
    color: #bbbbbb;
    font-size: 14px;
    line-height: 1.5em;
    display: block;
  }
}

/*Transitions*/
a, #post-nav a, #post-list a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

ul {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style-type: circle;
  list-style-position: inside;
}

b, strong {
  font-weight: 500;
  color: #1E2025;
}

em, i {
  font-style: italic;
}

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  font: italic 14px/1.4em Georgia,serif;
  color: #aaa;
}

header {
  .published-at {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.site-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categories {
  div.category {
    border-bottom: 1px #333 solid;
    margin-bottom: 10px;
  }
  .category {
    h3 {
      margin-bottom: 5px;
    }
    .category-list {
      li {
        display: inline;
      }
    }
  }
}

.archive {
  article {
    h3 {
      margin-bottom: 5px;
    }
    border-bottom: 1px #333 solid;
    padding: 10px;
  }
}

.home {
  h1 {
    text-align: center;
    font-size: 40px;
    color: #222222;
    font-weight: bold;
    &.title {
      margin-bottom: 0;
    }
  }

  h2 {
    font-style: italic;
    font-size: 19px;
    line-height: 1.3em;
    font-family: Georgia, serif;
    color: #bbbbbb;
  }

  article {
    margin-bottom: 20px;
  }

  #avatar {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

nav.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  a {
    padding: 10px;
  }
}

.post {
  header {
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    color: #222222;
    font-weight: bold;
    &.title {
      margin-bottom: 0;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5em;
    color: #111;

    &.headline {
      font-size: 13px;
      line-height: 1.5em;
      margin: -5px 0 40px 0;
      color: #b2b9be;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
    }
  }
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eeeeee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eeeeee;
}

span.code {
  font-family: Menlo, Monaco, Courier;
  background-color: #EEEEEE;
  font-size: 14px;
}

pre {
  margin-bottom: 10px;
  font-family: Menlo, Monaco, Courier;
  white-space: pre-wrap;
  padding: 20px;
  background-color: #fdfdfd;
  overflow: auto;
  border-radius: 3px;
  background: #272b2d;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr {
  > td {
    border-top: 1px solid #eaeaea;
  }
  &:nth-child(odd) > td {
    background: #fcfcfc;
  }
}

thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 10px 6px;
  box-shadow: 0 0 0 1px hsla(207, 83%, 80%, 1);
  &:hover {
    background: #5694f1;
    color: #ffffff;
    box-shadow: 0 0 0 1px #5694f1;
  }
  span {
    position: relative;
    top: 0;
    font-size: 17px;
  }
}

#footer {
  box-shadow: inset 0 1px 0 #eee;
  padding: 40px 0 0 0;
  margin-top: 100px;
}

/* Post Page */
#header {
  border-bottom: 1px solid #eeeeee;
}

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4em;
  border-top: 1px solid #eee;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color: #444;
  border-bottom: 1px solid #eee;
  div {
    span {
      color: #aaaaaa;
      font-weight: 500;
      display: block;
      &.dark {
        color: #1E2025;
      }
    }
    margin: 0 25px 0 0;
    float: left;
  }
}

/* Post Navigation */
#post-nav {
  border-top: 1px solid #eeeeee;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  span {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    position: relative;
    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
    .arrow {
      position: relative;
      padding: 1px;
    }
    &.prev:hover .arrow {
      left: -4px;
    }
    &.next:hover .arrow {
      right: -4px;
    }
    &.prev:hover {
      left: -3px;
    }
    &.next:hover {
      right: -3px;
    }
  }
}

#archive-list {
  li:last-child {
    margin-bottom: 0;
  }
  a {
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.7em;
    color: #333;
  }
  .dates {
    float: right;
    position: relative;
    top: 1px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.7em;
    color: #bbb;
  }
  li {
    a:hover, &:hover .dates {
      color: #5694f1;
    }
  }
}

#post-meta {
  img.avatar {
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 20px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  }
}

/* Media Queries */
@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 20px 20px 20px;
  }
  #header {
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
  }
  .post {
    margin: 40px 0;
  }
  #footer {
    margin-top: 60px;
  }
  #archive-list {
    margin-top: 0;
  }
  #post-meta {
    margin-top: 60px;
  }
  #title {
    font-size: 17px;
  }
  h1 {
    font-size: 26px;
  }
  .post {
    h2.headline {
      font-size: 13px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
  }
}
